@import "../../styles.scss";

.leftbar {
  @include themify($themes) {
    @include mobile {
      display: none;
    }
    flex: 2;
    overflow: scroll;
    top: 70px;
    height: calc(100vh - 70px);
    background-color: themed("bg");
    color: themed(textColor);
    &::-webkit-scrollbar {
      display: none;
    }
    .container {
      padding: 20px;

      hr {
        margin: 20px 0;
        border: none;
        height: 0.5px;
        background-color: themed(border);
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 15px;

        span {
          font-size: 12px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 14px;
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
