.Posts{
    display: flex;
    flex-direction: column;
    gap : 50px;
    
}

// .post{
//         .profile{
//             display : flex;
           
//             justify-content: flex-start;
//             align-items: center;
//             gap : 10px;
//             font-weight: normal;
//             img {
//                 height : 30px;
//                 width : 30px;
//                 border-radius: 50%;
//             }


//         }

//         .postContent{
//             p{

//             }
//             img{
//                 height : 500px;
//                 width: 100%;
//             }
//         }
//     }